@using PhotoShoot.Data.Models
@model ImageFormModel
@{
    ViewData["Title"] = "TaraDemo - Admin Gallery";
}
<section class="py-0 overflow-hidden">
    <div class="background-holder overlay overlay-2 parallax" style="background-image: url(../assets/images/main-header-1.jpg);"> </div>
    <!--/.background-holder-->
    <div class="container">
        <div class="row align-items-center justify-content-center text-center pt-8 pb-6" style="height: 50vh; min-height: 300px;" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col">
                <div class="overflow-hidden">
                    <h1 class="color-white fs-5 fs-lg-7" data-zanim='{"delay":0.1}'>Admin Gallery</h1>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

@*ViewBag first solution without image structure*@
@*<section class="sortable pt-4 pb-0">
        <div class="container-fluid px-0">
            <div class="row">
                @if (ViewBag.Images != null)
                {
                    foreach (var image in ViewBag.Images)
                    {
                        <div class="col-lg-4 mb-4">
                            <div class="image-container">
                                <img src="@image.ImageUrl" alt="@image.Title" data-toggle="modal" data-target="#imageModal-@image.Id" />
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No images found.</p>
                }
            </div>
        </div>
    </section>*@

@{
    string GetImageUrlOrPlaceholder(int index)
    {
        return (index < ViewBag.Images.Count) ? ViewBag.Images[index].ImageUrl : "../assets/images/tara/no_image_available.jpeg";
    }

    string GetImageTitleOrEmpty(int index)
    {
        return (index < ViewBag.Images.Count) ? ViewBag.Images[index].Title : "";
    }

    string GetImageIdOrEmpty(int index)
    {
        return (index < ViewBag.Images.Count) ? ViewBag.Images[index].Id.ToString() : "";
    }

    string GetImageOnClick(int index)
    {
        return (index < ViewBag.Images.Count) ? $"data-toggle='modal' data-target='#imageModal-{GetImageIdOrEmpty(index)}'" : "data-add-image='true'";
    }

}

@*Working with AllImagesViewModel*@
@*<section class="sortable pt-4 pb-0">
        <div class="row">
            @foreach (var image in Model.Images)
            {
                <div class="col-md-4">
                    <div class="card mb-3">
                        <img class="card-img-top" src="@image.ImageUrl" alt="@image.Title @image.Description (@image.ImageCategory.)">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">@image.Title </h5>
                            <a asp-controller="Images" asp-action="AdminGallery" asp-route-id="@image.Id" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>*@

@if (ViewBag.Images != null)
{
    <section class="sortable pt-4 pb-0">
        <div class="container-fluid.px-0">
            <div class="row">
                <div class="col-lg-8 mb-4">
                    <div class="image-container">
                        @*<img src="@ViewBag.Images[0].ImageUrl" alt="@ViewBag.Images[0].Title" data-toggle="modal" data-target="#imageModal-@ViewBag.Images[0].Id" />*@
                        @*<img src="@GetImageUrlOrPlaceholder(0)" alt="@ViewBag.Images[0]?.Title" data-toggle="modal" data-target="#imageModal-@ViewBag.Images[0]?.Id" />*@
                        @*<img src="@GetImageUrlOrPlaceholder(0)" alt="@GetImageTitleOrEmpty(0)" data-toggle="modal" data-target="#imageModal-@GetImageIdOrEmpty(0)" />*@
                        <img src="@GetImageUrlOrPlaceholder(0)" alt="@GetImageTitleOrEmpty(0)" @Html.Raw(GetImageOnClick(0)) />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            @*<img src="@GetImageUrlOrPlaceholder(1)" alt="@GetImageTitleOrEmpty(1)" data-toggle="modal" data-target="#imageModal-@GetImageIdOrEmpty(1)" />*@
                            <img src="@GetImageUrlOrPlaceholder(1)" alt="@GetImageTitleOrEmpty(1)" @Html.Raw(GetImageOnClick(1)) />
                        </div>
                        <div class="col-lg-12 mb-4">
                            @*<img src="@GetImageUrlOrPlaceholder(2)" alt="@GetImageTitleOrEmpty(2)" data-toggle="modal" data-target="#imageModal-@GetImageIdOrEmpty(2)" />*@
                            <img src="@GetImageUrlOrPlaceholder(2)" alt="@GetImageTitleOrEmpty(2)" @Html.Raw(GetImageOnClick(2)) />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    @*<img src="@GetImageUrlOrPlaceholder(3)" alt="@GetImageTitleOrEmpty(3)" data-toggle="modal" data-target="#imageModal-@GetImageIdOrEmpty(3)" />*@
                    <img src="@GetImageUrlOrPlaceholder(3)" alt="@GetImageTitleOrEmpty(3)" @Html.Raw(GetImageOnClick(3)) />
                </div>
                <div class="col-lg-6 mb-4">
                    @*<img src="@GetImageUrlOrPlaceholder(4)" alt="@GetImageTitleOrEmpty(4)" data-toggle="modal" data-target="#imageModal-@GetImageIdOrEmpty(4)" />*@
                    <img src="@GetImageUrlOrPlaceholder(4)" alt="@GetImageTitleOrEmpty(4)" @Html.Raw(GetImageOnClick(4)) />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            @*<img src="@GetImageUrlOrPlaceholder(5)" alt="@GetImageTitleOrEmpty(5)" data-toggle="modal" data-target="#imageModal-@GetImageIdOrEmpty(5)" />*@
                            <img src="@GetImageUrlOrPlaceholder(5)" alt="@GetImageTitleOrEmpty(5)" @Html.Raw(GetImageOnClick(5)) />
                        </div>
                        <div class="col-lg-12 mb-4">
                            @*<img src="@GetImageUrlOrPlaceholder(6)" alt="@GetImageTitleOrEmpty(6)" data-toggle="modal" data-target="#imageModal-@GetImageIdOrEmpty(6)" />*@
                            <img src="@GetImageUrlOrPlaceholder(6)" alt="@GetImageTitleOrEmpty(6)" @Html.Raw(GetImageOnClick(6)) />
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4">
                    @*<img src="@GetImageUrlOrPlaceholder(7)" alt="@GetImageTitleOrEmpty(7)" data-toggle="modal" data-target="#imageModal-@GetImageIdOrEmpty(7)" />*@
                    <img src="@GetImageUrlOrPlaceholder(7)" alt="@GetImageTitleOrEmpty(7)" @Html.Raw(GetImageOnClick(7)) />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    @*<img src="@GetImageUrlOrPlaceholder(8)" alt="@GetImageTitleOrEmpty(8)" data-toggle="modal" data-target="#imageModal-@GetImageIdOrEmpty(8)" />*@
                    <img src="@GetImageUrlOrPlaceholder(8)" alt="@GetImageTitleOrEmpty(8)" @Html.Raw(GetImageOnClick(8)) />
                </div>
                <div class="col-lg-6 mb-4">
                    @*<img src="@GetImageUrlOrPlaceholder(9)" alt="@GetImageTitleOrEmpty(9)" data-toggle="modal" data-target="#imageModal-@GetImageIdOrEmpty(9)" />*@
                    <img src="@GetImageUrlOrPlaceholder(9)" alt="@GetImageTitleOrEmpty(9)" @Html.Raw(GetImageOnClick(9)) />
                </div>
            </div>
        </div>
    </section>
}

@if (ViewBag.Images != null)
{
    int count = ViewBag.Images.Count;
    for (int i = 0; i < 10; i++)
    {
        if (i < count)
        {
            var image = ViewBag.Images[i];
            <div class="modal fade" id="imageModal-@image.Id" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel-@image.Id" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModalLabel-@image.Id">Image: @image.Title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="@image.ImageUrl" alt="@image.Title" class="img-fluid" />
                            <div class="card-body text-center">
                                @*<a asp-controller="YourController" asp-action="EditImage" asp-route-id="@image.Id" class="btn btn-primary">Edit</a>*@
                                @*<a asp-controller="Images" asp-action="DeleteImage" asp-route-id="@image.Id" class="btn btn-danger">Delete</a>*@
                                @*<form method="post" asp-controller="Images" asp-action="Delete" asp-route-id="@image.Id" id="deleteForm" class="ml-2">
                                     @Html.AntiForgeryToken()
                                  </form>*@
                                @*<button type="submit" data-toggle="modal" data-target="#deleteModal" class="btn btn-dark">Delete</button>*@
                                <button type="button" data-toggle="modal" data-target="#deleteModal" class="btn btn-dark delete-btn" data-image-id="@image.Id">Delete</button>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="modal fade" id="imageModal-empty" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel-empty" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModalLabel-empty">No Image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="add-image">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addImageModal">
                                    Add Image
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<!-- Add Image Modal -->
<div class="modal fade" id="addImageModal" tabindex="-1" role="dialog" aria-labelledby="addImageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addImageModalLabel">Add Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Images" asp-action="CreateImage" method="post" enctype="multipart/form-data">
                    <partial name="_CreateImagePartial" model="Model" />
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>$(document).ready(function () {
            $('img[data-add-image="true"]').on('click', function () {
                $('#addImageModal').modal('show');
            });
        });</script>

    <script>document.querySelectorAll('.delete-btn').forEach(function (btn) {
            btn.addEventListener('click', function () {
                var imageId = btn.getAttribute('data-image-id');
                document.querySelector('#imageId').value = imageId;
            });
        });</script>
}

<partial name="_DeleteModalPartial" />